<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome</h2>
    <button><a href="/signup">Signup here!</a></button>
    <button><a href="/login">Login here!</a></button>
    <button><a href="/secret">Protected page (requires authentication)</a></button>
  </body>
</html>
